.wrapper
    = render partial: 'partials/navigation'
    
    #homeImage
        #homeText
            %h1 - MILLWOOD -
            %hr#homeHr
            %h2 COCKTAIL BAR

    #homeInfo
        #cocktails
            %p{onClick: 'openMenu()'} COCKTAILS
            %hr
        
        .middle
            .middle2
                .middle2first
                    %p#openToday TODAY WE ARE OPEN:
                .middle2second
                    %p#openingHours= "#{@openToday}"

        #contact
            %hr
            %p{onClick: 'openMenu()'} CONTACT
