@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

* {
    box-sizing: border-box;
    font-family: Montserrat;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

#nav {
    background-color: white;
    float: left;
    font-weight: 300;
    height: 100vh;
    width: 15rem;
    text-align: center;
    text-transform: uppercase;
}

#logo {
    width: 100%;
}

ul {
    list-style-type: none;
}

li {
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 15px 0px 15px 0px;
    transition: all .2s;
}

li:hover {
    color: gray;
}

#image {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url('testing.jpg');
    background-position: center;
    background-size: cover;
    float: right;
    height: 100vh;
    width: calc(100vw - 15rem);
}

#address {
    font-size: 15px;
    letter-spacing: 2px;
    padding: 20px 0px 20px 0px;
}

#menu {
    width: 100vw;
}

.wrapper {
    width: 100vw;
}